html, body {
  margin: 0; }

* {
  box-sizing: border-box; }

p {
  line-height: 2;
  font-size: 24px; }

.home__panels {
  width: 50%;
  height: calc(100% + 1px);
  position: fixed;
  overflow: hidden; }

.home__panel {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.4s; }
  .home__panel .panel__image {
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-position: 0 0; }
  .home__panel.section-1 .panel__image {
    background-image: url(../img/bg.jpg); }
  .home__panel.section-2 .panel__image {
    background-image: url(../img/bg-2.jpg); }
  .home__panel.section-3 .panel__image {
    background-image: url(../img/bg-3.jpg); }
  .home__panel.active {
    transform: translateX(0); }
  .home__panel.scrolled {
    transform: translateX(100%); }

.home__content {
  width: 50%;
  margin-left: 50%;
  height: auto;
  padding: 50px 30px; }
